n8n/upload-guardrails-once.workflow.json
{
  "id": "temp-upload-guardrails-001",
  "name": "TEMP Upload bot-guardrails to Drive",
  "active": true,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "upload-bot-guardrails-once",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "a1111111-1111-1111-1111-111111111111",
      "name": "Upload trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 0],
      "webhookId": "upload-bot-guardrails-once"
    },
    {
      "parameters": {
        "jsCode": "const fs = require('fs');\nconst content = fs.readFileSync('/files/bot-guardrails.md', 'utf8');\nreturn [{\n  json: {\n    fileName: 'bot-guardrails.md',\n    folderId: '1TtHiEjxrG20SCaAK4G-EuzRJY7TcKQA2',\n  },\n  binary: {\n    data: {\n      data: Buffer.from(content, 'utf8').toString('base64'),\n      mimeType: 'text/markdown',\n      fileName: 'bot-guardrails.md',\n    },\n  },\n}];"
      },
      "id": "b2222222-2222-2222-2222-222222222222",
      "name": "Read guardrails file",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [220, 0]
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "searchMethod": "query",
        "queryString": "'1TtHiEjxrG20SCaAK4G-EuzRJY7TcKQA2' in parents and trashed = false and mimeType != 'application/vnd.google-apps.folder'",
        "returnAll": true,
        "filter": {
          "whatToSearch": "files"
        },
        "options": {}
      },
      "id": "c3333333-3333-3333-3333-333333333333",
      "name": "List folder files",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [440, 0],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "KbzM5hZU4oKmNbdt",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const files = $input.all().map((item) => item.json);\nconst source = $('Read guardrails file').first();\nconst target = files.find((file) => file.name === 'bot-guardrails.md');\n\nif (!target) {\n  return [{\n    json: {\n      action: 'upload',\n      folderId: '1TtHiEjxrG20SCaAK4G-EuzRJY7TcKQA2',\n      fileName: 'bot-guardrails.md',\n      existingFiles: files.map((file) => file.name),\n    },\n    binary: source.binary,\n  }];\n}\n\nreturn [{\n  json: {\n    action: 'update',\n    id: target.id,\n    fileName: target.name,\n  },\n  binary: source.binary,\n}];"
      },
      "id": "c5555555-5555-5555-5555-555555555555",
      "name": "Choose upload or update",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [660, 0]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "update-branch",
              "leftValue": "={{ $json.action }}",
              "rightValue": "update",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "f6666666-6666-6666-6666-666666666666",
      "name": "Update?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [880, 0]
    },
    {
      "parameters": {
        "operation": "update",
        "fileId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $json.id }}"
        },
        "changeFileContent": true,
        "inputDataFieldName": "data",
        "options": {}
      },
      "id": "d4444444-4444-4444-4444-444444444444",
      "name": "Update guardrails file",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [1100, -80],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "KbzM5hZU4oKmNbdt",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "upload",
        "name": "={{ $json.fileName }}",
        "folderId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $json.folderId }}"
        },
        "inputDataFieldName": "data",
        "options": {}
      },
      "id": "g7777777-7777-7777-7777-777777777777",
      "name": "Upload guardrails file",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [1100, 80],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "KbzM5hZU4oKmNbdt",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\nreturn [{\n  json: {\n    ok: true,\n    fileId: item.id,\n    fileName: item.name || 'bot-guardrails.md',\n  },\n}];"
      },
      "id": "e5555555-5555-5555-5555-555555555555",
      "name": "Format response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1320, 0]
    }
  ],
  "connections": {
    "Upload trigger": {
      "main": [[{ "node": "Read guardrails file", "type": "main", "index": 0 }]]
    },
    "Read guardrails file": {
      "main": [[{ "node": "List folder files", "type": "main", "index": 0 }]]
    },
    "List folder files": {
      "main": [[{ "node": "Choose upload or update", "type": "main", "index": 0 }]]
    },
    "Choose upload or update": {
      "main": [[{ "node": "Update?", "type": "main", "index": 0 }]]
    },
    "Update?": {
      "main": [
        [{ "node": "Update guardrails file", "type": "main", "index": 0 }],
        [{ "node": "Upload guardrails file", "type": "main", "index": 0 }]
      ]
    },
    "Update guardrails file": {
      "main": [[{ "node": "Format response", "type": "main", "index": 0 }]]
    },
    "Upload guardrails file": {
      "main": [[{ "node": "Format response", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
